 hr { margin: 3px; }

.App-header{
  padding-top: 0;
  padding-bottom: 1em;
}

.Red-border{
  border: 1px solid red;
}

.App-metadata{
  top: 0;
  right: 0;
  width: 24em;
  height: 100vh;
  position: fixed;
  background-color: white;
  padding: 2em;
  margin: 0;
  font-size: 0.8em;
}

.App-metadata  td{
  padding: .4em;
}

.Box-shadow{
  box-shadow: -4px 5px 29px -1px rgb(204, 204, 204);
}

.App-folder-container, .App-file-container{
  display: inline-block;
  margin-right: 1em;
}

.App-folder, .App-file{
  width: 5em;
  height: 5em;
  background: #bbb;
}

.Inline-edit{
  display: 'inline-block';
  margin: 0;
  padding: 0;
  font-size: 15;
  outline: 0;
  border: 0;
}